.modal-affiliate {
  --modal-padding: var(--spacer-5) !important;
  --modal-max-width: 1014px !important;

  li {
    &::before {
      color: var(--yellow-darker);
      font-size: 1.2rem;
    }
  }
}

.affiliation-table-row {
  @media screen and (min-width: 48.0625rem) {
    width: 16rem;
  }
}
