.favorite-dropdown-card {
  transition: background-color var(--timing) var(--easing);

  &__image {
    max-width: var(--spacer-10);
    height: var(--spacer-10);
    object-fit: contain;
    width: 100%;
  }

  &__name {
    height: 3rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-lines: 2;
    overflow: hidden;
    white-space: break-spaces;
    word-break: break-word;
  }

  &:hover {
    background-color: var(--gray-100);
  }

  // Set only dropdown
  .favorite-dropdown-card__button {
    top: calc(var(--spacer-3) * -1);
    right: calc(var(--spacer-3) * -1);
  }
}
