.categories {
  &--button {
    background-color: transparent;
    &:focus {
      background-color: transparent !important;
    }
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: transparent;
    }
  }
}

.country-accordion-content{
  height: 30vh;
}

.mobile-filter {
  .slick-slider {
    width: 100%;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    width: min-content !important;
  }

  .filter-tag {
    width: min-content;
  }
}
