.carousel {
  .slick-prev, .slick-next {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--timing) var(--easing);

    &::before {
      content: none;
      display: none;
    }
  }

  .slick-slide img {
    display: inline-block;
  }

  .slick-next {
    right: -5rem;
  }

  .slick-prev {
    left: -6rem;
  }

  .slick-prev:not(.slick-disabled), .slick-next:not(.slick-disabled) {
    opacity: 1;
    pointer-events: all;
    transition: box-shadow var(--timing) var(--easing);
    color: var(--gray-700);

    &:hover {
      color: var(--blue);
    }
  }

  .slick-disabled {
    display: none
  }

  &:hover {
    .slick-prev:not(.slick-disabled), .slick-next:not(.slick-disabled) {
      opacity: 1;
      pointer-events: all;
      transition: box-shadow var(--timing) var(--easing);
      color: var(--gray-700);

      &:hover {
        color: var(--blue);
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;

    li::before {
      font-size: 0 !important;
    }

    li {
      background: transparent;
      margin: 0 0.25rem;
    }

    button {
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: var(--gray-200);

      text-indent: -9999px;
    }

    li.slick-active button {
      width: 0.75rem;
      height: 0.75rem;
      background-color: var(--blue);
    }

    @media screen and (max-width: 37.5rem) {
      display: none !important;
    }
  }
}

.rounded-button-arrow {
  border-radius: 50%;
  border: solid 0.0625rem var(--gray-200);
  opacity: 1;
  pointer-events: all;

  &:hover {
    border: 0.0625rem solid var(--blue);
  }
}