.product-card {
  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: box-shadow var(--timing) var(--easing);

    .product-image-background,
    .product-image img {
      transform: scale(1.1);
    }
  }

  &:focus {
    outline: none;
    cursor: pointer;
  }

  .product-card-header {
    overflow: hidden;
    border-top-left-radius: var(--border-radius-lg) !important;
    border-top-right-radius: var(--border-radius-lg) !important;

    .product-image-background {
      background-size: cover;
      background-position: center center;
      filter: blur(0.4375rem);
      width: 100%;
      transition: transform var(--timing) var(--easing);

      &::before {
        content: '';
        display: block;
        position: relative;
        overflow: hidden;
        padding-bottom: 100%;
      }
    }

    .product-image {
      height: 100%;
      overflow: hidden;
      top: 0;

      img {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        transition: transform .25s ease;
      }
    }
  }
}

.product-name {
  height: 3rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-lines: 2;
  overflow: hidden;
  white-space: break-spaces;

  @media screen and (max-width: 48rem) {
    font-size: 0.875rem;
    height: 2.25rem;
  }
}

.card-container {
  max-width: 20.25rem;
}

.product-card-body {
  height: 12.125rem;

  &__special-campaign {
    height: 14.625rem;

    .favorite-dropdown-card__button {
      top: 2.5rem;

      @media screen and (max-width: 48rem) {
        top: 2rem;
      }
    }
  }

  @media screen and (max-width: 48rem) {
    height: 10.625rem;

    &__special-campaign {
      height: 12.625rem;
    }
  }
}

.product-detail-link {
  text-decoration: none;
  color: inherit;
}
