.categorie-border {
  border-color: var(--input-border-color) !important;
  @media screen and (max-width: 48rem) {
    border-radius: var(--border-radius);
  }
  @media screen and (min-width: 48.0625rem) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none;
  }
  &__clicked {
    border-bottom: none !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.categories-options {
  z-index: 1;
}

.content {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.hot-application-collapse__item {
  padding: 0 !important;
}

.search-border {
  @media screen and (max-width: 48rem) {
    border-radius: var(--border-radius);
  }
  @media screen and (min-width: 48.0625rem) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 0;
  }
}

.search-wrapper {
  position: relative;

  &__category {
    cursor: pointer;
  }

  &__inner {
    position: relative;
    z-index: 4;
  }

  &__buttons {
    position: absolute;
    right: 0;
    z-index: 10;

    .hot-btn {
      border-color: transparent !important;
    }
  }

  &__button-search {
    border-color: var(--input-border-color) !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  &__panel {
    background-color: var(--white);
    border-radius: var(--border-radius);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    box-shadow: var(--box-shadow);
    margin-top: -0.0625rem;
    opacity: 0;
    padding: var(--spacer-3) var(--spacer-4);
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition: opacity var(--timing) var(--easing);
    z-index: 3;
    width: 100%;

    a {
      color: var(--primary);
      text-decoration: none;
      transition: color var(--timing) var(--easing);

      &:hover {
        color: var(--primary-darker);
      }
    }
  }

  &--active {
    .search-wrapper__panel {
      opacity: 1;
      pointer-events: all;
    }

    .search-wrapper__category {
      border-bottom-left-radius: 0 !important;
      border-color: var(--input-border-color) !important;
    }

    .search-wrapper__term {
      border-bottom-right-radius: 0 !important;
    }
  }
}

.filter-wrapper {
  padding-right: 8.125rem;
}
