.breadcrumb-link {
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    outline: none;
    color: var(--blue);
    cursor: pointer
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
