.section-products {
  &--special-campaign {
    @media screen and (max-width: 48rem) {
      margin-left: -1.25rem;
      margin-right: -1.25rem;
    }

    .carousel-current-page span {
      color: var(--white) !important;
    }

    &-logo {
      max-width: 100%;
      width: 100%;
    }

    // Easter Campaign
    &-easter {
      color: white !important;
      background: rgba(149, 77, 6, 1);
    }

    &-easter &-logo {
      width: 80%;

      @media screen and (max-width: 48rem) {
        height: 5rem;
      }
    }
  }
}

