.carousel-container {
  .carousel {
    margin: 0 calc(var(--spacer-3) * -1);

    .slick-list {
      padding: var(--spacer-4) 0 !important;
    }

    .slick-prev, .slick-next {
      width: var(--spacer-7);
      height: var(--spacer-7);
      top: auto;
      bottom: calc(var(--spacer-10) * -1);
    }

    .slick-next {
      right: var(--spacer-2);
    }

    .slick-prev {
      left: auto;
      right: var(--spacer-9);
    }
  }
}

.carousel-current-page {
  bottom: -2.25rem;
  right: 6.75rem;
}
