.tag-remove-button {
  height: 1.5625rem;
  width: 1.5625rem;
  max-height: 1.5625rem;
  max-width: 1.5625rem;
  &:hover {
    cursor: pointer;
  }
}

.clear-all {
  background: none;
  border: none;
  color: var(--primary);
  &:hover {
    color: var(--primary-darker);
  }
}

.filter-button {
  border-left: 0.0625rem solid var(--input-border-color);
}

.seacrh-result-modal {
  .hot-modal__dialog {
    max-height: 75vh !important;
  }
}

.accordion-collapse--overflow {
  height: fit-content;
}

.filter-notification {
  width: 3vh;
  height: 3vh;
}

.mobile-filter-wrapper {
  margin-right: -2.5vh !important;
  margin-left: -2.5vh !important;
}
