.rating-progress {
  &__item {
    width: 21.625rem;
  }
  &__bar {
    width: 16.25rem;
  }
}

.rating-average {
  &__title {
    font-size: 4rem;
    line-height: 4rem;

    @media screen and (min-width: 48.0625rem) {
      font-size: 6rem;
      line-height: 6rem;
    }
  }
}
