.help-faq {
  @media screen and (max-width: 48rem) {
    --sidebar-width: 100% !important;
  }

  --sidebar-top: 0px !important;
  --sidebar-z-index: 1001 !important;

  &__content {
    overflow-y: auto;
  }

  .accordion-collapse {
    &--overflow {
      overflow-y: auto;
      overflow-x: auto;
      max-height: none;
    }
  }
}

#app-market {
  .help-faq {
    --sidebar-top: 50px !important;
  }
}
