.options-style {
  z-index: 1;
  height: fit-content;
  height: -moz-max-content;
  border: 0.0625rem solid var(--input-border-color);
  border-top-right-radius: 0;
  border-top: none;
  @media screen and (max-width: 48rem) {
    border-radius: var(--border-radius);
  }

  @media screen and (min-width: 48.0625rem) {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: repeat(3, 1fr);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: var(--border-radius);
  }

  &__clicked {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.category-button {
  color: var(--gray-300);
  white-space: normal;
  outline: none;
  &:hover,
  &:focus {
    color: var(--primary);
    text-decoration: underline;
    outline: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
