.special-campaign {
  height: 2.5rem;

  @media screen and (max-width: 48rem) {
    height: 2rem;
  }
}

// Easter Campaign
.special-campaign-easter {
  background-color: rgba(149, 77, 6, 1);
  background-size: 25%;
  background-repeat: repeat;
  overflow: hidden;

  .special-campaign__logo {
    height: 60%;
  }
}
