:host {
  --modal-dialog-max-width: 40% !important;
  --modal-max-width: 40% !important;
}

.onboarding-modal {
  .hot-modal__dialog {
    overflow: hidden;
    max-height: 50% !important;
    width: 40% !important;
  }
}
