:root, :host {
  background: var(--gray-100);
  .overflow-y-auto {
    overflow-y: auto;
  }

  .font-14 {
    font-size: 0.875rem !important;
  }

  .fixed-bottom {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
  }
}
